@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>экзамен</title>
</head>
<body>
<div>
    <h2>Добрый день, @User.Identity.Name</h2>
    <h1>Выбирай экзамен</h1>
</div>
</body>
</html>